* {
	margin: 0px;
}

body {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

header {
	overflow: auto;
	padding: 10px;
	background: black;
}

header .loggedin {
	float: right;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

main {
	width: 1000px;
	margin: 25px auto;
	padding: 20px;
	background: rgba(25,05,35,0.9);
}

main h1 {
	color: white;
	margin-top: -30px;
}

select {
	width: 100%;
	height: 25px;
	font-size: 18px;
}

input {
	width: 100%;
	height: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

button {
	width: 100%;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	background-color: rgba(40,40,100,0.9);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
	transition: 0.3s;
	box-shadow: 0px 0px 0px 600px rgba(0, 0, 0, 0.8);
}

p {
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 20px;

}

h2, h2 a {
	text-align: right;
	color: white;
	text-decoration: none;
	margin-top: 0px;
}
